
<div  *ngIf="showTrade" >

<button class="trade" (click)="popUpChange()" >Trade</button>
<div *ngIf="showPopUp" id="myModal" class="modal">
<div class="modal-content">
    <p class="modalText">Trading in progress...</p>
    <div class="boxCenter">
        <div class="loader"></div>
    </div>
        <div class="center">
        <span>Trade</span>
        <select class="modalText" [ngModel] = "selected" #ref>
            <option  *ngFor="let game of GamesToTrade" [value]="game.name+':'+game.whoWant+':'+game.imageUrl" >{{game.name}} with {{game.whoWant}}</option>
        </select>
      </div>
    <div class="box" *ngIf="ref.value!=''">
        <div class="tradeImage">
            <h3>{{(ref.value.split(":"))[0]}}</h3>
            <img [src]="(ref.value.split(':'))[2]">
            <h3>Your game</h3>
            
        </div>
        <div class="arrows">&larr;<br>&rarr;</div>
        <div class="tradeImage">
            <h3>{{game?.name}}</h3>
            <img [src]="game?.imageUrl">
            <h3>{{(ref.value.split(":"))[1]}} game</h3>
        </div>
    </div>
    
    <div class="center">
        <button class="trade" (click)="popUpChange()">Close</button>
        <button class="trade" *ngIf="ref.value!=''" (click)="popUpChange();actualyTrade((ref.value.split(':'))[0],(ref.value.split(':'))[1]);">Trade</button>
    </div>
  </div>
</div>

<div *ngIf="tradeSuccess" class="modal">
    <div class="modal-content">
        <p class="modalText">Success!</p>
        <p class="center">U can rate and comment this transaction here</p>
        <p>Rate: </p>
        <div class="stars">
                <form action="">
                  <input class="star star-5" id="star-5" type="radio" name="star" value=5/>
                  <label class="star star-5" for="star-5"></label>
                  <input class="star star-4" id="star-4" type="radio" name="star" value=4 />
                  <label class="star star-4" for="star-4"></label>
                  <input class="star star-3" id="star-3" type="radio" name="star" value=3 checked="checked"/>
                  <label class="star star-3" for="star-3"></label>
                  <input class="star star-2" id="star-2" type="radio" name="star" value=2/>
                  <label class="star star-2" for="star-2"></label>
                  <input class="star star-1" id="star-1" type="radio" name="star" value=1/>
                  <label class="star star-1" for="star-1"></label>
                </form>
              </div>
        <p>Comment: </p> <textarea rows="4" cols="50" placeholder="Sample comment" id="commentID"></textarea>
        <p>{{starsy}}</p>
        <div class="center">
            <button class="trade" (click)="finish()">Finish</button>
        </div>

    </div>
</div>



</div>