<div class="main">
  <h1>Hello!</h1>
  <div class="text">
    Welcome on our site which allow you to trade games with others.<br>
    If u want be able to use all functionality log in!
    Nam et augue posuere, convallis lorem vitae, finibus sapien. 
    Mauris mollis neque ut imperdiet dictum. Phasellus at suscipit libero. 
    Cras facilisis lacus et turpis luctus, vitae pretium sem feugiat. 
    Proin iaculis, sem vel faucibus pharetra, magna tortor auctor risus, euismod bibendum sem tellus euismod magna. 
    Cras augue sapien, commodo a justo sit amet, fringilla gravida arcu. 
    Donec faucibus nisl magna, tempor fermentum libero tempus nec. Quisque ac eleifend ligula.
    <br>
    Check other tabs !
  </div>
</div>
